body {
    background-color: rgb(193, 236, 203);
  }

h1 {
  color:rgb(193, 236, 203);
  background-color: rgb(57, 71, 60);
}

h2 {
  color:rgb(193, 236, 203);
  background-color: rgb(57, 71, 60);
  
}